In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("salary.csv")

In [4]:
df.shape

(35, 2)

In [8]:
df['salary']

0      39343
1      46205
2      37731
3      43525
4      39891
5      56642
6      60150
7      54445
8      64445
9      57189
10     63218
11     55794
12     56957
13     57081
14     61111
15     67938
16     66029
17     83088
18     81363
19     93940
20     91738
21     98273
22    101302
23    113812
24    109431
25    105582
26    116969
27    112635
28    122391
29    121872
30    127345
31    126756
32    128765
33    135675
34    139465
Name: salary, dtype: int64

In [9]:
df['salary'].mean()

83945.6

In [10]:
df['salary'].median()

81363.0